@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carousel.css);
@import url(styles/topics.css);
@import url(styles/contact.css);
@import url(styles/foot.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --background: #EBECEE;
  --white: #FFFFFF;
  --orange: #EB9B00;
  --blue: #002F52;
  --black: #000000;
  --gray: #858585;
  --gray-dark: #474646;
  --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --font-main: "Poppins", sans-serif;
  --font-secundary: "Josefin Sans", sans-serif;
}

body, html {
  background-color: var(--background);
  height: 100%;
  font: 400 16px var(--font-main);
}
